.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.Menu {
    font-size: 0.85rem;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* .landpage {
    background-image: url(warningFake.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
} */

/* .quizpage {
    background-image: url(warningFake.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
} */

@media (min-width: 1126px) {
    .form-widey {
        --wideboi: 50%; /* don't change this */
        width: var(--wideboi);
        left: var(--wideboi);
        transform: translateX(var(--wideboi));
    }
}

@media (max-width: 1125px) {
    .form-widey {
        padding-left: 5%;
        padding-right: 5%;
    }
}